.container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dataContainer{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 10px 9px 19px -11px rgba(0,0,0,0.75);
}

.text{
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    color: #3a3a3a;
}

.textData{
    text-transform: none;
    font-weight: 500;
    color: 000;
}

.agrupacionesContainer{
    margin-top: 25px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.agrupacion{
    text-align: center;
    padding: 10px 0;
}

.agrupacionTitulo{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #181818;
    padding: 10px 0;
    margin-bottom: 5px;
}

.agrupacionCandidatos{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #181818;
    padding: 10px 0;
}
.boxFormInput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dataAgrupacionContainer{
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
}

.n{
    /* text-align: left;
    margin-bottom: 5px; */
    position: relative;
    right: 120px;
    bottom: 8px;
    
}

.votosContainer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.boxForm{
    /* height: 100%; */
    width: 100%;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 10px 9px 19px -11px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.totalVotosContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 0 0 12px 12px;
    box-shadow: 10px 9px 19px -11px rgba(0,0,0,0.75);
}

.totalVotosContainer::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 8px;
    background: linear-gradient(
        to right, 
        #f8cc06 0%, 
        #f8cc06 12.5%, 
        #f4b215 12.5%, 
        #f4b215 25%, 
        #ed7023 25%, 
        #ed7023 37.5%, 
        #e52227 37.5%, 
        #e52227 50%, 
        #b61b85 50%, 
        #b61b85 62.5%, 
        #952580 62.5%, 
        #952580 75%, 
        #4b4986 75%, 
        #4b4986 87.5%, 
        #33bdd9 87.5%, 
        #33bdd9 100%);
}

.totalVotos{
    margin-left: 20px;
}

.labelStyle{
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 8px;
    display: block;
}

.inputStyle{
    width: 225px;
    height: 35px;
    border: 1px solid black ;
    border-radius: 8px;
}

input[type=text]{
    padding: 0 10px;
    font-size: 1.2rem;
    width: 100%;
    height: 35px;
    border: 1px solid black ;
    border-radius: 8px;
}

input[type=submit]{
    height: 40px;
    width: 100%;
    border: none;
    background-color: #f8cc06;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 20px;
    /* margin-bottom: 120px; */
    box-shadow: 10px 9px 19px -11px rgba(0,0,0,0.75);
}
.tituloForm{
    margin: 10px 0;
}

.inputBox{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}

.icon{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.textIcon{
    text-decoration: none;
    position: absolute;
    top: 110px;
    left: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    font-size: 1.1rem;
    margin: 15px 0;
    color: black;
}
.error{
    max-width: 100%;
    padding: 10px;
    background-color: #fd5858;
    border-radius: 8px;
}

.errorText{
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
}
@media (min-width: 400px){
    .agrupacionesContainer{
        align-items: center;
    }
    .boxForm{
        width: 400px;
    }
    .dataContainer{
        width: 370px;
    }
    .totalVotosContainer{
        align-items: center;
    }
    input[type=submit]{
        width: 370px;
    }
}